*, html {
    margin:0;
    padding:0;  
}body{
    
}
mark {
    background-color:#68afa8;
    color: currentColor;
    padding: 10px;
  }
.cside{
    width: auto;
    height: 100vh;
    position: fixed;
    background-color: #41b3a3;
}
.metitle {padding: 80px 5px 0 10px;}.metitle a {
    position: relative;
    border-style: groove;
    border-color: coral;
    border-width: 2px;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    color: #fff;
    font-size: 30px;
    padding: 5px;
}

nav {
    position: relative;
    padding: 100px 0 0 10px; 
}
nav li {display: flex; padding:10px; height: 100px; width: auto;}
nav a {
    background: none;
    padding: 5px;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    color: #fff;
    font-size: 3vh;
    top: -100px;
    left: 0;
    background: none;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
    
    -webkit-transform: rotate(270deg); 
    -moz-transform:    rotate(270deg); 
    -ms-transform:     rotate(270deg); 
    -o-transform:      rotate(270deg); 
}




.chome,.cmc,.cwork,.ccme,.csocial {
    width: auto;
    height: 100vh;
    padding: 0 0 0 10%;
}
.chome{background-color:  #e27c60;
    background-image: url(/img/bg.svg);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;}
.cmc{background-color: #7fc6b6;}
.cwork{background-color: #e8a87c;}
.ccme{background-color: #c38d9e;}
.csocial{background-color: #68afa8; height: 50vh !important;}

.chome p {
    font-family: 'Fira Code', monospace;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: auto;
    font-size: 4.5vh;
    line-height: 45px;
    letter-spacing: 2px;
}